{{ define "main" }}
    {{ if .IsTranslated }}
    <nav class="languages links">
        <ul>
        {{ range .Translations }}
        <li>
            <a href="{{ .RelPermalink }}">{{ or (.Language.LanguageName) (.Language.Lang) }}</a>
        </li>
        {{ end }}
        </ul>
    </nav>
    {{ end }}
    <div id="content">
    <aside id="sidebar">
        <div id="avatar">
            {{ with .Site.GetPage "section" "/sidebar/_index.md" }}
            <img class="flower" src="{{ index .Params "icon-path" }}">
            {{ end }}
        </div>
        
        <div id="bio">
        {{ with .Site.GetPage "section" "/sidebar/bio.md" }}
            {{ .Content | safeHTML }}
        {{ end }}
        </div>
        
        <div class="small-box">
            {{ with .Site.GetPage "section" "/sidebar/basic-info.md" }}
                {{ .Content | safeHTML }}
            {{ end }}
            </ul>
        </div>

        {{ if .Site.Params.sidebar.tags.enable }}
        <div>
            <div class="tags">
                <p class="tags">Tags</p>
            </div>

            <ul class="tags">
            {{ $tags_limit := (or (index .Site.Params.sidebar.tags "limit") 5) }}
            {{ $more_tags_text := (or (index .Site.Params.sidebar.tags "more-text") "more tags...") }}
            {{ $tags := .Site.Taxonomies.tags | sort }}
            {{ range $tags | first $tags_limit }}<li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>{{ end }}
            </ul>
            {{ if gt (len $tags) $tags_limit }}
            <div class="tags">
                <a href="{{ relLangURL (printf "/tags") }}"><b>{{ $more_tags_text }}</b></a>
            </div>
        </div>
        {{ end }}
        {{ end }}
        
        <nav class="links">
            <ul>
            {{ with .Site.GetPage "section" "/sidebar/_index.md" }}
            {{ range .Params.links }}
                <li><a href="{{ .link }}">{{ .name }}</a></li>
            {{ end }}
            {{ end }}
            </ul>
        </nav>
    </aside>
    <main>
        <article id="top" class="clearfix">
            {{ with .Site.GetPage "section" "/welcome-header/_index.md" }}
            <section>
            <div class="img-right">
                <img src="{{ .Params.image }}">
            </div>
            <div>
            <h1>{{ .Params.title }}</h1>
            {{ range .Params.intro }}
                <p>{{ . }}</p>
            {{ end }}
            </div>
            </section>
            <section>
            <h4>{{ .Params.list.name }}</h4>
                <ul>
                {{ range .Params.list.items }}
                    <li>{{ . }}</li>
                {{ end }}
                </ul>
            </section>
            {{ end }}
        </article>
    {{ $limit := index (index .Site.Params "read-more") "length-limit" }}
    {{ $pages := where .Site.RegularPages "Section" "posts" }}
    {{ range $index, $page := (.Paginate $pages (or (index .Site.Params "posts-per-page") 5)).Pages }}
        <article id="post-{{ $index }}">
            {{- if (index .Params "table-of-contents") }}
            <button id="post-toc-btn-{{ $index }}" class="dropbox-btn" onclick="toggleDropbox('post-toc-{{ $index }}')" >☰</button>
            <div id="post-toc-{{ $index }}" class="dropbox-content table-of-contents float">
                {{ partial "toc.html" $page }}
            </div>
            {{ end }}
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ $tags := $page.Params.tags }}
            tags:
            {{ range $index, $tag := .Params.tags }}
            <a href="{{ relLangURL (printf "/tags/%s" $tag) }}">{{ $tag }}</a>{{ if ne $index (sub ($tags | len) 1) }},{{ end }}
            {{ end }}
            <div class="post-header">
                @{{ $page.Params.author }} <span class="timestamp">{{ $page.Date.Format "02/01/2006" }}</span>
            </div>
            <p>{{ .Summary }}</p>
            {{ with index $page.Params "title-images" }}
            <div class="photosetx2">
                {{ range first 2 . }}
                <a href="{{ . }}" target="_blank"><img src="{{ . }}"></a>
                {{ end }}
            </div>
            {{ end }}
            <div class="post-content readmore">
                <!-- subtracting one because of how truncate works -->
                {{ if gt (sub (len (( $page.ContentWithoutSummary | safeHTML) | plainify)) 1) $limit }}
                <div class="text-content">{{ ( .ContentWithoutSummary | safeHTML) | truncate $limit }}</div>
                <div class="full-content" style="display: none;">{{ $page.ContentWithoutSummary | safeHTML }}</div>
                <summary class="read-more-btn" onclick="toggleReadMore('post-{{ $index }}')" style="display: inline;">{{ (index .Site.Params "read-more").text.more }}</summary>
                {{ else }}
                <div class="full-content">{{ $page.ContentWithoutSummary | safeHTML }}</div>
                {{ end }}
            </div>
            {{ with index $page.Params "ending-images" }}
            <div class="photosetx3">
                {{ range first 3 . }}
                <a href="{{ . }}" target="_blank"><img src="{{ . }}"></a>
                {{ end }}
            </div>
            {{ end }}
        </article>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
    <script>
    window.addEventListener('click', e => {
        let dropboxs = document.getElementsByClassName("dropbox-content");
        let dropbox_btns = document.getElementsByClassName("dropbox-btn");

        if (dropbox_btns.namedItem(e.target.id) != null) return;

        if(dropboxs.namedItem(e.target.id) == null) {
            for (let i = 0; i < dropboxs.length; i++) {
                dropboxs[i].removeAttribute("visible");
            }
        }
    }, true)

    function toggleReadMore(id) {
        var post = document.getElementById(id)
        var fullContent = post.getElementsByClassName("full-content")[0];
        var btnText = post.getElementsByClassName("read-more-btn")[0];
        var textContent = post.getElementsByClassName("text-content")[0];

        if (fullContent.style.display === "none") {
            textContent.style.display = "none";
            fullContent.style.display = "inline";
            btnText.innerHTML = {{ (index .Site.Params "read-more").text.less }};
        } else {
            textContent.style.display = "inline";
            fullContent.style.display = "none";
            btnText.innerHTML = {{ (index .Site.Params "read-more").text.more }};
        }
    }

    function toggleDropbox(id) {
        let dropbox = document.getElementById(id);

        dropbox.toggleAttribute("visible");
    }
    </script>
    </main>
{{ end }}
