/* Avatar border + cute shadow */
#avatar img.flower {
  border: 3px solid var(--accent-color);
  border-radius: 50%;
  padding: 6px;
  background: white;
/*  box-shadow: 6px 6px 0 var(--border-color);*/
  display: block;
}
